<div class="text-center ">
<div class="align-self-center">
  <% @messages.each do |message| %>
    <% if message.body %>
    
	  <br>
          <div class="msg-container josesin-font">
			<br>
		  <h5>Sent By:<%= message.user.email %></h5>
       <p><%= message.created_at %></p>
	<br>
	        <p><%= message.body %></p>
        </div>
    <% end %>
  <% end %>

<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Your message" %>
  </div>

  <%= f.submit "Send" %>
<% end %>

</div>
</div>



			



