
<%= form_with model: listing, local: true do |form| %>

<div>
    <%= form.label :title %>
    <%= form.text_field :title, value: listing.title %>
</div>

<div>
    <%= form.label :description %>
    <%= form.text_area :description, value: listing.description %>
</div>


<div>
    <%= form.label :price %>
    <%= form.number_field :price, value: listing.price, min: 0 %>
</div>

 <div>
        <%= form.label :year %>
        <%= form.select(:year, @categories.map{|y| [y.year]} ) %>
    </div>

     <div>
        <%= form.label :model %>
        <%= form.select(:model, @categories.map{|c| [c.model]} ) %>
    </div>

<div>
<%= form.submit "create"%>
</div>



<%end%>
