
<div class="container-md ">
<%= form_with model: listing, local: true do |form| %>
<br>
<div class="col-lg-12 ">
  <div class="row">
    <form>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 form-group">
            <div>
              <label>Enter a Listing Title</label>
              <br>
              <%= form.text_field :title, class: "form-control", value: listing.title %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 form-group">
            <div>
              <label>Price</label>
              <br>
              <%= form.number_field :price, value: listing.price, min: 0, class:"form-control" %>
            </div>
            </div>
             <div class="col-sm-12">
            <div class="row">
            <div class="col-sm-4 form-group">
             <label>Drone Category</label>
 <%= form.select :category_id, Category.all.map {|c| [c.kind, c.id]} , class:"form-control"%> 
          </div>
          </div>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label>Description</label>
                <br>
                <%= form.text_area :description, value: listing.description, class:"form-control" %>
              </div>
            </div>
          </div>
     
          <div class="col-sm-4 form-group">
            <label>Upload a Listing Photo</label>
            <%= form.file_field :picture,class:"btn btn-outline-dark", accept:
              'image/png,image/gif,image/jpeg,image/jpg', class:"form-control" %>
          </div>
              <div class="col-sm-12">
             <div class="row">
          <div class="col-sm-4 form-group">
            <%= form.submit "create", class:"btn btn-lg btn-info form-control" %>
          </div>
          </div>
          </div>
        </div>
    
    </div>
  </div>
  <%= form.hidden_field :in_stock, :value => '1' %>

<% end %>

</div>

</form>
