

<%= form_with model: listing, local: true do |form| %>


<br>
 <div>

    <%= form.label :title %>
    <br>
    <%= form.text_field :title, class: "form-control", value: listing.title %>

  </div>


<div>
    <%= form.label :price %>
    <br>
    <%= form.number_field :price, value: listing.price, min: 0 %>
</div>
<br>
  <div>
    <%= form.label :description %>
    <br>
    <%= form.text_area :description, value: listing.description %>
  </div>
<br>
  <div>
   <%= form.label "category" %>
    <%= form.select :category_id, Category.all.map {|c| (c.id) } %>
  </div>
<br>



 <div class="form-group">
  <div>
    <%= form.label "Upload a listing photo" %>
    <br>
 
     <%= form.file_field :picture,class:"btn btn-outline-dark", accept:
    'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>
  </div>



  <div>
    <%= form.submit "create", class: "btn btn-primary btn-lg active"%>
  </div>





<%end%>


