<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
   <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
         <div class="view">
            <%= image_tag("carousel7.jpg", alt:"drone controller", class:"d-block w-100", style:"height: 400px;" )%>
            <div class="mask rgba-black-light">
            </div>
             <div class="carousel-caption">
      <div class="d-flex h-100 align-items-center ">
       
            <h1 class="h3-responsive">DRONES FOR SALE</h1>
       
    
         <%= image_tag("mavic1.png", alt:"drone controller", class:"d-block w-50" )%>  
      
      </div>
   </div>
         </div>
      </div>
</div>
</div>

 
<br>
<div class="container">
   <div class="row">
       <% for listing in @listings %>
      <div class="col-md-4">
         <div class="card mb-4 bg-light ">

 <%= image_tag listing.picture, class:"card-img-top" %> 

            <div class="card-body">
            <div class="text-center">
               <h5 class="card-title"><br><%= listing.title %></h5>
               <p class="card-text">$<%= listing.price %></p>
               <div class="text-center">
               <%= link_to "VIEW" , listing_path(listing.id), class: "btn btn-outline-light btn-lg"%>
</div>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>




