<nav class="navbar navbar-expand-lg navbar-light bg-light">
           <%= link_to root_path do %>
   <%= image_tag "dronelogo.png", class:"navbar-brand" %>
<% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <%
=begin%>
 <ul class="navbar-nav nav-fill w-50 ml-auto mx-auto "> 
<%
=end%>
    <ul class="navbar-nav nav-fill w-50 ml-auto mx-auto text-center">

      <li class="nav-item text-center">
        <%= link_to "SELL", new_listing_path, class: "nav-link" %>
      <li> / </li>
      </li>
      <li class="nav-item text-center">
        <%= link_to "BUY", listings_path, class: "nav-link" %>
      </li>
    </ul>

    <span class="navbar-text ">
<ul class="nav navbar-nav">
<li class="dropdown">
          <a href="#" class="dropdown-toggle nav-item text-center" data-toggle="dropdown">ACCOUNT<span class="glyphicon glyphicon-user pull-right"></span></a>
          <ul class="dropdown-menu">
          <% if user_signed_in? %>
            <li class="nav-item item-center" id="nav-font" > <%= link_to "ACCOUNT", profile_path, id:"nav-font", class: "glyphicon glyphicon-cog pull-right" %></li>
            <li class="divider"></li>
            <%= link_to "EDIT USER", edit_user_registration_path, class: "glyphicon glyphicon-stats pull-right"%></li>
            <li class="divider"></li>
            <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-stats pull-right"%></li>
            <li class="divider"></li>
            <% else %>
              <li class="nav-item"> <%= link_to "LOGIN",new_user_session_path, class: "nav-link" %></li>
      <% end %>
          </ul>
        </li>
        </ul>

        



 </nav>
   

    
  